<div class="my-3 col-4">
  <form class="my-2" action="/" method="post" >
    <legend><strong><em>ENTER USER DETAILS</em> </strong> </legend>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="names" placeholder="Dav Doe" name="names" value="">
        <label for="names">Enter Names</label>
      </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="gender" placeholder="M/F" name="gender" value=""> 
        <label for="gender">Enter Gender</label>  
      </div>

     <div class="form-floating mb-3">
        <input type="tel" class="form-control" id="contact" placeholder="07XX XXX XXX" name="contact" value="">
        <label for="contact">Enter Phone Number</label>
      </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="residence" placeholder="Nairobi" name="residence" value="">
        <label for="residence">Enter County Of Residence</label>
      </div>

     <div class="form-floating mb-3">
      <input type="email" class="form-control" id="email" placeholder="username@email.com" name="email" value="">
        <label for="email">Enter Email Address</label> 
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="password" placeholder="password" name="password"value="">
        <label for="password">Enter Password</label>
    
      </div>

      <div class="my-4"><button class="btn btn-outline-success" type="submit">SUBMIT</button></div>
</form>
</div>