<!-- import a partial file -->
<%- include('../partials/header')%>
<div class="container">
  <div class="row">
    <%- include('../partials/userForm')%> <%- include('../partials/userTable')%>
  </div>
</div>
<%- include('../partials/footer')%>
